@media (max-width: 1010px) {
    main > section.main {
      grid-template-columns: auto auto auto;
    }
  }
  @media (max-width: 768px) {
    main > div.index {
      display: grid;
      grid-template-columns: auto auto;
    }
    header > h1 {
      font-size: 2.5rem;
    }
    header picture img {
      height: 80px;
    }
    footer picture img {
      height: 60px;
    }
  }
  @media (max-width: 500px) {
    main > section.main {
      grid-template-columns: auto;
    }
  }
  @media (max-width: 467px) {
    header > h1 {
      font-size: 2rem;
    }
  }
  @media (max-width: 425px) {
    header > h1 {
      font-size: 2rem;
    }
    header picture img {
      height: 60px;
    }
    footer picture img {
      height: 40px;
    }
  }